.footer {
  width: 100%;
  background-color: rgb(7, 43, 27);
    display: flex;
  flex-wrap: wrap;
   position:relative;
  bottom:0;
  margin-top:70px;
  
}
.footer1 {
  height: 80%;
  width: 15%;
  margin-left:5%;
  margin-right:5%;
  
}
.footer-text {
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 3mm;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-caption {
  color: rgb(213, 216, 220);
  margin-left: 10px;
}
