.header{
    display:flex;
    /* height:10%; */
    width:100%;
    background-color: rgb(10, 53, 53);
    
   
}
.logo{
   
  height: 50px;
  width: 150px;
  margin-top: 13px;
  margin-right: 150px;
  margin-bottom: 7px;
  margin-left:20px;
}
.search{
    height: 33px;
     width: 500px; 
    /* margin-right: 50px; */
    margin-top: 19px;
    margin-left:50 px ;
}
.icon{
    height: 32px;
    width: 34px;
    margin-left:0px;
    margin-top:20px;
}
.cart{
     height: 45px;
    width: 45px;
    margin-left:210px;
    margin-bottom:10px;
      margin-right: 10px;
      /* margin-top: 20px; */
}
.login{
    height: 43px;
    width: 50px; 
     margin-left:210px;
    margin-top:10px;
     margin-right: 10px;
}
.signup{
    margin-top: 20px;
     color: white;
      font-size: 4mm 
}
 