.options{
    background-color: rgb(76, 174, 174);
    margin-top: -7px;
     box-shadow: 0 10px 20px rgba(85, 90, 100, 1);
     margin-bottom: -5PX;
}
.navText{
    font-weight: bolder;
    color:rgba(0, 0, 0, 0.884);
    margin-left: 50px;
 margin-left: 70px;
}
.position{
    position:absolute;
    top:200px;

}
.nav-item {
    color:rgb(11, 11, 11);
     font-weight: bold;

}
